	/*=============== GOOGLE FONTS ===============*/
	@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

	/*=============== VARIABLES CSS ===============*/
	:root {
	    --header-height: 3rem;

	    /*========== Colors ==========*/
	    --hue: 174;
	    --sat: 63%;
	    --first-color: hsla(0, 78%, 42%, 0.822);
	    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
	    --title-color: hsl(0, 0%, 83%);
	    --text-color: hsl(var(--hue), 8%, 35%);
	    --body-color: hsl(var(--hue), 100%, 99%);
	    --container-color: #024F9C;

	    /*========== Font and typography ==========*/
	    --body-font: 'Open Sans', sans-serif;
	    --h1-font-size: 1.5rem;
	    --normal-font-size: .938rem;
	    --tiny-font-size: .625rem;

	    /*========== z index ==========*/
	    --z-tooltip: 10;
	    --z-fixed: 1000;
	}

	/* Coded with love by Mutiullah Samim */
	body,
	html {
	    margin: 0;
	    padding: 0;
	    height: 100%;
	    background-image: url('https://habbo-stories-content.s3.amazonaws.com/fullroom-photo/hhbr/113416201.png');
	}

	.user_card {
	    height: 400px;
	    width: 350px;
	    margin-top: auto;
	    margin-bottom: auto;
	    background: rgba(255, 255, 255, 0.9);
	    position: relative;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    padding: 10px;
	    border-radius: 10px;
	    box-shadow: 8px 12px 16px rgba(0, 0, 0, 0.8);
	    /* Adiciona uma sombra */
	    transition: box-shadow 0.3s ease-in-out;
	    /* Adiciona uma transição suave */
	}
    .user_card_create {
	    margin-top: auto;
	    margin-bottom: auto;
	    background: rgba(255, 255, 255, 0.9);
	    position: relative;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    padding: 10px;
	    border-radius: 10px;
	    box-shadow: 8px 12px 16px rgba(0, 0, 0, 0.8);
	    /* Adiciona uma sombra */
	    transition: box-shadow 0.3s ease-in-out;
	    /* Adiciona uma transição suave */
	}

	.brand_logo_container {
	    position: absolute;
	    height: 170px;
	    width: 170px;
	    top: -75px;
	    border-radius: 50%;
	    background: #60a3bc;
	    padding: 10px;
	    text-align: center;
	}

	.brand_logo {
	    height: 150px;
	    width: 150px;
	    border-radius: 50%;
	    border: 2px solid white;
	}

	.form_container {
	    margin-top: 100px;
	}

	.login_btn {
	    width: 100%;
	    background: var(--first-color);
	    color: white !important;
	}
    .login_btn:hover {
	    background: var(--first-color);
	    color: white !important;
	}
	.login_btn:focus {
	    box-shadow: none !important;
	    outline: 0px !important;
	}

	.login_container {
	    padding: 0 2rem;
	}

	.input-group-text {
	    background:  var(--first-color);
	    color: white !important;
	    border: 0 !important;
	    border-radius: 0.25rem 0 0 0.25rem !important;
	}
    .input-group-copy {
	    background:  var(--first-color);
	    color: white !important;
	    border: 0 !important;
	    border-radius: 0.25rem 0 0 0.25rem !important;
	}

	.links {
	    color: #000000;
	}

	.input_user,
	.input_pass:focus {
	    box-shadow: none !important;
	    outline: 0px !important;
	}

	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	    background-color: #c0392b !important;
	}
